*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  color: #89cfeb;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background: #1f1f1f;
  margin: 0;
}

nav {
  padding: 0.75rem;
  background: #121212;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}
nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}
nav a img {
  padding: 0 0.5rem;
  height: 3rem;
  width: auto;
  border-radius: 50%;
}
nav .newmoot {
  margin-left: 1rem;
  padding: 6px;
  background: #87ceeb;
  color: #111;
  border-radius: 12px;
}
nav .search {
  margin-left: 1rem;
  padding: 8px;
  background: #87ceeb;
  color: #111;
  border-radius: 12px;
  outline-width: 0;
  border: none;
}
nav .user {
  display: flex;
  align-items: center;
}
nav .user img {
  padding: 0 0.5rem;
  height: 3rem;
  width: auto;
  border-radius: 50%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.moots {
  margin: auto;
  padding: 10px;
  border-radius: 24px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .moots {
    width: 95%;
  }
}
@media (min-width: 1024px) {
  .moots {
    width: 50%;
  }
}

.moot {
  background: #121212;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 10px;
  transition: box-shadow 300ms, transform 5s;
}
.moot button {
  border: none;
  background: #87ceeb;
  color: #111;
  border-radius: 8px;
}
.moot .moot-header {
  padding-top: 1rem;
  padding-left: 1rem;
}
.moot .moot-header a {
  text-decoration: none;
  color: #89cfeb;
}
.moot .moot-header .avatar {
  display: inline-block;
  vertical-align: middle;
  padding-right: 0.5rem;
}
.moot .moot-header .avatar img {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}
.moot .moot-header .username {
  font-size: 1.5rem;
}
.moot .content {
  padding: 0 1rem;
  word-wrap: break-word;
}
.moot .content h1 {
  line-height: 0.5;
}
.moot .length {
  padding: 0 1rem;
  color: #16759b;
}
.moot:hover {
  box-shadow: 0.01rem 0.01rem 0.1rem black;
}

.new-box {
  background: #121212;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 10px;
}
.new-box textarea {
  width: 100%;
  margin-bottom: 10px;
  background: #87ceeb;
  border: none;
  border-radius: 12px;
  padding: 16px;
  height: 24rem;
  outline-width: 0;
}
.new-box button {
  background: #87ceeb;
  padding: 8px;
  border: none;
  border-radius: 8px;
}

@keyframes slide-in {
  0% {
    transform: translateX(calc(100% + 1rem));
    opacity: 0;
  }
  10% {
    transform: translateX(0%);
    opacity: 1;
  }
  90% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(calc(100% + 1rem));
    opacity: 0;
  }
}
.modal {
  position: fixed;
  display: inline;
  padding: 1rem;
  right: 1rem;
  top: 1rem;
  background: #87ceeb;
  color: black;
  white-space: pre-wrap;
  animation: slide-in 5s ease-in-out 0ms 1 forwards;
  border-radius: 8px;
}

/*# sourceMappingURL=style.css.map */
