<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/images/moot.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <title>404 - Not Found</title>
  </head>

  <body>
    <h1>404 - Not Found</h1>
    <h2>Uh oh! The page you were looking for wasn't found!</h2>
    <div class="return">
      <a href="/"><h2>Return Home!</h2></a>
    </div>
  </body>
</html>

<style>
  body {
    text-align: center;
  }

  h1 {
    font-size: 5rem;
    font-weight: 900;
  }

  h2 {
    font-size: 3rem;
    font-weight: 900;
  }

  .return {
    background: #87ceeb;
    width: 20%;
    margin: auto;
    border-radius: 16px;
  }

  .return a:visited {
    text-decoration: none;
    color: #111;
  }

  .return a:link {
    text-decoration: none;
    color: #111;
  }
</style>
