<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %} - Moot</title>
    {% endblock %}
  </head>

  <body>
    <div class="nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li style="float: right"><a href="/users/{{ userid }}">{{ username|e }}</a><img src="https://cdn.discordapp.com/avatars/297045071457681409/a_bb9a917f8e4d447004395e54a0436a01.gif"></li>
      </ul> <!-- TODO: Navbar -->
    </div>
    <div class="content">{% block content %}{% endblock %}</div>
    <div class="footer">{% block footer %}{% endblock %}</div>
  </body>
</html>

<script>
  window.onscroll = function() {navSticky()};

  var navbar = document.getElementById("navbar");

  var sticky = navbar.offsetTop;

  function navSticky() {
    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky")
    } else {
      navbar.classList.remove("sticky");
    }
  }
</script>
