<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %} - Moot</title>
    {% endblock %}
  </head>

  <body>
    <nav>
      <a class="brand" href="/"><img src="/static/images/moot.png"></a>
      <ul></ul>
      <a href="/users/{{ userid }}" class="user">
        <span>{{ username|e }}</span>
        <img src="{{ avatar_url }}">
      </a>
    </nav>
    <div class="content">{% block content %}{% endblock %}</div>
    <div class="footer">{% block footer %}{% endblock %}</div>
  </body>
</html>

<script>
  window.onscroll = function() {navSticky()};

  var navbar = document.getElementById("navbar");

  var sticky = navbar.offsetTop;

  function navSticky() {
    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky")
    } else {
      navbar.classList.remove("sticky");
    }
  }
</script>
