<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/images/moot.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %} - Moot</title>
    {% endblock %}
  </head>

  <body>
    <nav>
      <a class="brand" href="/"><img src="/static/images/moot.png"></a>
      <ul>
        <li><a class="newmoot" href="/new">New Moot</a></li>
        <li><input id="search" class="search" type="text" placeholder="Search..."></li>
      </ul>
      <a href="/users/{{ user.id }}" class="user">
        <span>{{ user.username|e }}</span>
        <img src="{{ user.avatar_url }}">
      </a>
    </nav>
    <div class="content">{% block content %}{% endblock %}</div>
    <div class="footer">{% block footer %}{% endblock %}</div>
  </body>
</html>

<script>
  searchInput = document.getElementById("search");
  searchInput.addEventListener("keyup", function(event) {
    if (event.keyCode === 13) {
      event.preventDefault();
      search();
    }
  });

  function betterAlert(message) {
    const el = document.createElement("div");
    el.classList.add("modal");
    el.innerText = message;
    document.body.appendChild(el);
    setTimeout(() => el.remove(), 5000);
  }

  function search() {
    content = searchInput.value;
    window.location.href = `/search?q=${content}`;
  }

  function del(moot) {
    fetch(`/moots/${moot}`, {
      method: "DELETE"
    }).then((resp) => {
      if (resp.status == 200) {
        betterAlert("Post deleted successfully.");
        document.getElementById(moot).remove();
      } else {
        betterAlert("Oh no! Something went wrong while processing your request!");
      }
    })
  }

  function hide(moot) {
    fetch(`/moots/${moot}`, {
      method: "PATCH"
    }).then((resp) => {
      if (resp.status == 200) {
        betterAlert("Post hidden successfully.");
        document.getElementById(`content-${moot}`).innerText = "The content of this post has been hidden by the Moot moderation team.";
      } else {
        betterAlert("Oh no! Something went wrong while processing your request!");
      }
    })
  }
</script>
