{% macro makemoot(moot) %}
<div class="moot">
  <div class="moot-header">
    <a href="/users/{{ moot.user.id }}">
      <div class="avatar">
        <img src="{{ moot.user.avatar_url }}">
      </div>
      <span class="username">{{ moot.user.username }}</span>
    </a>
  </div>
  <p class="content">
    {% autoescape false %}
    {{ moot.moot._content | e | replace("\n", "<br>") }}
    {% endautoescape %}
  </p>
  <p class="length">
    Moot length: {{ moot.moot.content|length }} -- {{ moot.moot.human_time }} -- {{ moot.moot.id }}
  </p>
</div>
{% endmacro %}