{% macro makemoot(moot, logged_in_user) %}
<div class="moot" id={{ moot.moot.id }}>
  <div class="moot-header">
    <a href="/users/{{ moot.user.id }}">
      <div class="avatar">
        <img src="{{ moot.user.avatar_url }}">
      </div>
      <span class="username">{{ moot.user.username }}</span>
    </a>
  </div>
  <p class="content" id="content-{{ moot.moot.id }}">
    {% autoescape false %}
    {{ moot.content | e | replace("\n", "<br>") }}
    {% endautoescape %}
  </p>
  <p class="length">
    Moot length: {{ moot.moot.content|length }} --
    {{ moot.moot.human_time }} --
    <span><a href="/moots/{{ moot.moot.id }}">Direct Link</a></span>
    {%- if logged_in_user.admin %}
    -- <button onclick="del('{{ moot.moot.id }}')">Delete</button>
    -- <button onclick="hide('{{ moot.moot.id }}')">Hide</button>
    {% endif -%}
  </p>
</div>
{% endmacro %}