{% extends "base.html" %}
{% from 'moot.html' import makemoot %}
{% block title %}New{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="main">
  <div class="moots">
    <div class="new-box">
      <textarea id="textinput" onkeypress="keypress()" wrap="hard" placeholder="Start typing a new Moot..."></textarea>
      <button id="post" onclick="post()">0 < 280</button>
    </div>
  </div>
</div>

<script>
  text = document.getElementById("textinput");
  text.value = ""

  function keypress() {
    button = document.getElementById("post");
    len = text.value.length;

    if (len < 280) {
      button.innerHTML = `${len} < 280`;
    } else if (len > 32000) {
      button.innerHTML = `${len} > 32000`;
    } else {
      button.innerHTML = `Post! (${len})`;
    }
  }

  function post() {
    len = text.value.length;

    if (len < 280) {
      betterAlert(`Your post is too short! It needs to be at least 280 characters!`);
    } else if (len > 32000) {
      betterAlert(`Your post is too long! It needs to be at most 32000 characters!`);
    } else {
      fetch("/new/post", {
        method: "POST",
        body: JSON.stringify({
          content: text.value
        })
      }).then((resp) => {
        if (resp.status == 200) {
          data = resp.json().then((data) => {
            betterAlert(`Success! Your post has been created with the ID: ${data.id}`);
            window.location.replace(`/moots/${data.id}`);
          })
        } else {
          betterAlert("Oh no! Something went wrong while processing your request!")
        }
      })
    }
  }

  {%- if not user.can_paste %}
  text.addEventListener('paste', e => e.preventDefault());
  {% endif -%}
</script>
{% endblock %}
