{% extends "base.html" %}
{% block title %}{{ username }}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="main">
  <div class="moots">
    {% for moot in moots -%}
      <div class="moot">
        <div class="moot-header">
          <div class="avatar">
            <img src="{{ avatar_url }}">
          </div>
          <span class="username">{{ username }}</span>
        </div>
        
        <p class="content">
          {{ moot }}
        </p>
      </div>
    {%- endfor %}
  </div>
</div>
{% endblock %}
